<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
    <!-- adicionando camera ao robo -->
    <xacro:include filename="camera.xacro" />
    <!-- corpo do robo (principal)-->
    <xacro:include filename="robot_core.xacro" /> 
    <!-- adicionando novo controle no robo -->
    <xacro:include filename="ros2_control.xacro" />
    <!-- adicionando controle do robo 
    <xacro:include filename="gazebo_control.xacro" />   --> 
    <!-- adicionando o sensor lidar -->
    <xacro:include filename="lidar.xacro" />

</robot>